 .chatpage {
   display: flex; 
  justify-content: space-around;  
   /* height: 50%; */
  width: 50%;  
  border: 1px solid red;
 }

 /* .currentChat { */
   /* height: 300px;
  width: 300px;  */
  /* height: 50%;
  width: 50%; */
/* } */

.actualChat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.friendMessages {
  align-self: flex-start;
}

.userMessages {
  align-self: flex-end;
} 

.openChat{
 display: flex;
 flex-direction: column;
}

.Chat{
  display: flex;
  justify-content: space-around;
}

.friendslist{
  list-style-type: none;
}
/* 
.listItem{
  
} */

.actualChat{
  list-style-type: none;
}

.participantList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.groups{
   /* display: flex;
  flex-wrap: wrap;  */
  margin-bottom: 8px;
  cursor: pointer; 
}

.chatMembers{
  display: flex;
}